@font-face {
    font-family: "Zuehlke";
    src: url("./fonts/zuehlke/zuehlke-webfont.eot?") format("eot"),
    url("./fonts/zuehlke/zuehlke-webfont.woff2") format("woff2"),
    url("./fonts/zuehlke/zuehlke-webfont.woff") format("woff"),
    url("./fonts/zuehlke/zuehlke-webfont.ttf") format("truetype"),
    url("./fonts/zuehlke/zuehlke-webfont.svg") format("svg");
}


html, body {
    margin: 0;
    padding: 0;
}

