
* {
    box-sizing: border-box;
}

.toc div {
    font-family: 'Zuehlke', 'sans-serif';
    display: flex;
    background-size: cover;
    background: url("./img/bg.jpg") no-repeat center center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 115px 15px 0;
}

.toc div::before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 8vw;
    width: 8vw;
    height: 8vw;
    min-width: 100px;
    min-height: 100px;
    max-width: 200px;
    max-height: 200px;
    background: url("./img/zuehlke_logo.jpg");
    background-size: contain;
}

.toc div h1 {
    font-size: 50px;
}

.toc div h1, .toc div h2, .toc div h3 {
    font-family: 'Zuehlke', 'sans-serif';
    color: #ff820a;
}

.toc div .nowrap {
    white-space: nowrap;
}

.toc div header {
    flex-basis: 100%;
    margin: 15px;
    background-color: rgba(50, 50, 50, 0.8);
    border-radius: 5px;
    text-align: center;
}

.toc div section {
    flex-basis: calc(25% - 2 * 15px);
    min-width: 200px;
    color: white;
    margin: 15px;
    border-radius: 5px;
    flex-grow: 1;
    background: rgba(50, 50, 50, 0.8);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.toc div section:hover {
    transform: scale(1.05);
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.4);
}

.toc div section {
    display: block;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-decoration: none;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.toc div section a:visited {
    text-decoration: none;
    color: inherit;
}

.toc div section h2 {
    margin: 0 0 10px;
}

.toc div section ul {
    padding-left: 20px;
    margin: 0;
}
